<div class="container my-5">
<h1 class="mb-3">Perfumes</h1>
<table class="table" *ngIf="perfumes && perfumes.length > 0">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Brand</th>
            <th> </th>
        </tr>
    </thead>
<tbody>
    <tr *ngFor="let perfume of perfumes" >
        <td>{{perfume.id}}</td>
        <td>{{perfume.name}}</td>
        <td>{{perfume.brand}}</td>
        <td><a [routerLink]="['/perfumes','edit', perfume.id]">view</a></td>
    </tr>
</tbody>
</table>
<p *ngIf="!perfumes || perfumes.length <= 0">No perfumes found!</p>
    </div>
